#ResCheckinDate, #ResCheckoutDate
{
    width:100px !important;
}

.gallery-images ul li
{
    width:81px; height:58px; padding:0px !important; margin-bottom:13px;
}

#content ul li
{
    padding:0px !important;
}

.imgWrapper
{
    padding:4px;background-color: #E2E9EF;
}

.gallery-images ul li div img
{
    width:73px; height:50px; cursor:pointer;
}

.gallery-main > div > img
{
    width:583px; height:408px; position:absolute; display:none;
}

.prev, .next
{
    cursor:pointer;
}


.QuickReservationFormLabel
{
    width:80px;
}

#reservation-form table
{
    padding:0px ;
}

.contactPageDivImg
{
    width:160px;
    height:107px;    
    float:left;
    margin-right:30px;
}

.contactPageDivImg img
{
    width:160px;
    height:107px;
}

.searchImg
{
    width:170px;
    height:120px;
}

#reservation-form > .submit
{
    font-size:1em;
    background:url("images/button-bg.gif") repeat-x scroll left top transparent;
    color: #D5C6BB;
    padding: 0px 0px 3px;
    width:152px;
    text-transform:uppercase;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
}

#reservation-form > .submit:hover
{
    text-decoration:underline;
}