@{
    ViewBag.Title = "Contact";
}

<h2>Contacto</h2>
<div class="imgWrapper contactPageDivImg">
    <img class="png" alt="" src="@Url.Content("~/Content/images/gallery-6.jpg")" />
</div>
<div class="extra-wrap">
	<p class="alt-top">Nuestro hostal esta localizado en el centro de Ba&ntilde;os - rodeado de parques, restaurantes y tiendas. </p>
	<p>Puede visitarnos en la siguiente direcci&oacute;n:</p>
	<dl class="contacts-list">
		<dt>Calle y Numero??</dt>
		<dd>+(593)-274-0616</dd>
		<!--<dd>1-800-542-6448</dd>-->
	</dl>
</div>
<div class="clear"></div>

@section Aside
{
    @{Html.RenderAction("ReservationAside", "Reservation");}
}


@section PageScripts
{
    @{Html.RenderPartial("ReservationAsideJS");}
}