@{
    ViewBag.Title = "Contact";
}

<h2>Restaurant</h2>
<div class="imgWrapper contactPageDivImg">
    <img class="png" alt="" src="@Url.Content("~/Content/images/gallery-6.jpg")" />
</div>
<div class="extra-wrap">
	<p class="alt-top"><span style="font-weight:bold">Que seccion quieren aqui? quieren cambiar o poner algo del restaurante?</span></p>
</div>
<div class="clear"></div>

@section Aside
{
    @{Html.RenderAction("ReservationAside", "Reservation");}
}


@section PageScripts
{
    @{Html.RenderPartial("ReservationAsideJS");}
}